<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
     <header>
        <h1>Фильм "Титаник"</h1>
         <img src="{% static 'img/img_1.png' %}" alt="" width="900px">
    </header>

    <main>
        <section id="about-movie">

            <h2>О фильме</h2>
            <p>Ф«Тита́ник» (англ. Titanic) — американская эпическая романтическая драма и фильм-катастрофа 1997 года режиссёра Джеймса Кэмерона, в котором показана гибель легендарного лайнера «Титаник». Герои фильма, будучи представителями разных социальных слоёв, влюбились друг в друга на борту лайнера, совершавшего свой первый и последний рейс через Атлантический океан в 1912 году. Главные роли исполнили Леонардо Ди Каприо и Кейт Уинслет.

Премьера фильма в США состоялась 19 декабря 1997 года. Дистрибьютором фильма в Северной Америке выступила компания Paramount Pictures, во всём остальном мире — 20th Century Fox. Бюджет составил 200 млн долларов США[9] — рекордный для своего времени. «Титаник» также установил рекорд кассовый, став первой картиной, преодолевшей рубеж в 1 млрд $, второй — в 2 млрд $, и самым кассовым фильмом за всю историю кинематографа, собрав в оригинальном прокате во всём мире свыше 1,8 миллиарда долларов, и удерживал этот показатель на протяжении 12 лет, пока оно не было побито фильмом того же режиссёра «Аватар»[10]. Помимо этого, он возглавлял американский бокс-офис 15 недель, что сделало его вторым фильмом после «Инопланетянина» (1982), находившегося на этой позиции дольше всех — 16 недель.

В 1998 году «Титаник» был выдвинут на соискание кинопремии «Оскар» в 14 номинациях, и получил 11 из них, включая награду «Лучший фильм» 1997 года. Картина стала рекордсменом по числу полученных наград «Оскар» наряду с такими фильмами, как «Бен-Гур» (1959) и «Властелин колец: Возвращение короля» (2003).

5 апреля 2012 года, в год 100-летия катастрофы и 15-летия выпуска фильма, состоялась его премьера в формате 3D и IMAX 3D[11]. На съёмку трехмерной версии было потрачено $18 млн. Время на создание новой версии составило 60 недель, что превысило общий съёмочный период самого фильма.</p>

        </section>

        <section id="main-characters">
            <h2>Главные герои</h2>
            <div class="character">
                <a href={% url 'url1' id=0 %}><img src="{% static 'img/img.png' %}" alt="" width="480px">

                </a>
            </div>
            <div class="character">
                <a href={% url 'url1' id=1 %}><img src="{% static 'img/img_2.png' %}" alt="" width="480px">
                </a>
            </div>
            <div class="character">
                <a href={% url 'url1' id=2 %}><img src="{% static 'img/img_3.png' %}" alt="" width="480px">
                </a>
            </div>
            <div class="character">
                 <a href={% url 'url1' id=3 %}><img src="{% static 'img/img_4.png' %}" alt="" width="480px">
                </a>
            </div>
            <div class="character">
               <a href={% url 'url1' id=4 %}><img src="{% static 'img/img_5.png' %}" alt="" width="480px">
                </a>
            </div>
        </section>
    </main>

    <footer>
        <p>BY &copy; 2023 Андрей</p>
    </footer>
</body>
</html>